<input type="hidden" name="user_id" value="{{ moment.user_id }}">
<textarea name="content">{{ moment.content }}</textarea>
<button>Create</button>

<div hx-swap-oob="beforebegin: #feed">
  {% include "moment/article" %}
</div>
