<input type="hidden" name="user_id" value="1">
<div class="autocomplete-wrapper" hx-ext="autocomplete">
  <textarea name="content" placeholder="Today I..."
    hx-ext="local-storage, ignore:autocomplete"
    hx-get="/-/tags"
    hx-trigger="keyup changed delay:300ms"
    hx-target="#content_autocomplete_list"></textarea>
  <div class="autocomplete-input-shadow"></div>
  <ul id="content_autocomplete_list" class="autocomplete-dropdown"></ul>
</div>
<button>Post</button>
