<style>
.feed-document {
  #moment_form textarea {
    height: 6em;
  }

  .htmx-insert-after {
    display: none;
  }

  @media (min-width: 50rem) {
    display: grid;
    grid-template-columns: 18rem 1fr;
    gap: max(var(--pico-block-spacing-horizontal), 5vw);

    h1 {
      display: none;
    }

    #moment_form {
      align-self: start;
      position: sticky;
      top: var(--pico-spacing);
    }
  }
}

.feed-moment {
  header {
    background: transparent;
    margin-inline: 0;
    margin-block: var(--pico-block-spacing-vertical);
    padding: 0;
    overflow: hidden;
  }

  header img {
    vertical-align: bottom;
    height: 40px;
    border-radius: 50%;
    margin-inline-end: 0.3em;
  }

  header time {
    font-size: 0.8em;
    font-style: italic;
    float: right;
  }
}
</style>
