{% if not htmx.boosted %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Momentary</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css">
  {% include "css/base.html" %}
  {% include "css/autocomplete.html" %}
  {% include "css/moment.html" %}
  {% include "js/utils.html" %}
  {% block head %}{% endblock %}
</head>
<body>
{% endif %}
{% if htmx.boosted %}
  <header id="header" hx-preserve="true"></header>
{% else %}
  {% block header %}
    <header id="header">
      <div class="document-width" hx-boost="true">
        <nav>
          <ul>
            <li><strong>Momentary</strong></li>
            <li><a href="/">Feed</a></li>
          </ul>
          <ul>
            <li><a href="/-/account">Account</a></li>
          </ul>
        </nav>
      </div>
    </header>
  {% endblock %}
{% endif %}

  {% block content %}<p>content missing!</p>{% endblock %}

{% if htmx.boosted %}
  <footer id="footer" hx-preserve="true"></footer>
{% else %}
  {% block footer %}
    <footer id="footer">
      <div class="document-width">
        <p>&copy; 2024</p>
      </div>
    </footer>
  {% endblock %}

  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  {% include "js/htmx-autocomplete.html" %}
  {% include "js/htmx-local-storage.html" %}
</body>
</html>
{% endif %}
